try:
    h = float(input("Введіть бали: "))
    if h >= 0.9 :
        grade = "A"
    elif h >= 0.8 :
        grade = "B"
    elif h >= 0.7 :
        grade = "C"
    elif h >= 0.6 :
        grade = "D"
    else:
        grade = "F"

    print(grade)

    if h < 0 or h > 1:
        raise ValueError("Помилка: Бал повинен бути у діапазоні від 0.0 до 1.0")

except ValueError as e:
    print(e)
